body{
  margin:0;
  font-family:Arial, sans-serif;
  background-color:#f4f4f4;
}

.dashboard{
  text-align:center;
  padding:30px;
}

.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
}

.card{
  background:white;
  padding:25px;
  width:200px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card h2{
  color:#333;
}

.card h3{
  color:blue;
  font-size:35px;
}